@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

h1,
p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
}

.book-summary ul.summary li.header {
    font-weight: bold !important;
    color: black !important;
}

.chapter {
    padding-left: 20px !important;
}